<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{titulo}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="vendor/landing-page.css" rel="stylesheet">
    <link href="vendor/planes.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">SmartTools</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">                    
                    <li>
                        <a href="#acerca">Acerca de</a>
                    </li>
                    <li>
                        <a href="#planes">Tipos de Planes</a>
                    </li>
                    <li>
                        <a href="/login">Ingresar</a>
                    </li>
                    <li>
                        <a href="/register">Crear Cuenta</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="acerca"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SmartTools</h1>
                        <h3>Crea concursos, participa por medio de vídeo</h3>
                        <hr class="intro-divider">                        
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/login" class="btn btn-default btn-lg"><span class="network-name">INGRESAR</span></a>
                            </li>
                            <li>
                                <a href="/register" class="btn btn-default btn-lg"><span class="network-name">CREAR CUENTA</span></a>
                            </li>                            
                        </ul>                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a name="planes"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Crea concursos:<br>A través de vídeo</h2>
                    <p class="lead">
                        En SmartTools podrás crear concursos e invitar a los usuarios que participen a través de vídeo, no importa el formato que manejes SmartTools realiza el proceso de conversión de una manera fácil y rápida.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6" align="center">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">
        <h2 class="section-heading">Tipos de Planes</h2>
        <div class="row" align="center">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Bronce</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $0<span class="subscript">/mo</span></h1>
                        <small>Sólo un concurso</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                1 Cuenta
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                1 Concurso
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20 vídeos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                100MB De almacenamiento
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ---
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                ---
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="/register" class="btn btn-success" role="button">Regístrate</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">MÁS
                            <br>
                            POPULAR</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Plata</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $20<span class="subscript">/mo</span></h1>
                        <small>1 mes de prueba gratis</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                2 Cuentas
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                5 Concursos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20 vídeos (Por concurso)
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                200MB De almacenamiento
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prioridad de conversión de vídeos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Sistema de reportes
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="/register" class="btn btn-success" role="button">Regístrate</a>
                    1 mes de prueba gratuita</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Oro</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $35<span class="subscript">/mo</span></h1>
                        <small>1 mes de prueba gratis</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                5 Cuentas
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Concursos ilimitados
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vídeos ilimitados                                
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Almacenamiento ilimitado
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prioridad de conversión de vídeos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Sistema de reportes
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="/register" class="btn btn-success" role="button">Regístrate</a> 1 mes de prueba gratuita</div>
            </div>
        </div>
    </div>
</div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    
    <!-- /.content-section-a -->

	
    
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#acerca">Acerca de</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#planes">Tipos de Planes</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/login">Ingresar</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; SmartTools 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> //-->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> //-->

</body>

</html>
